[package]
name = "modern_colorthief"
version = "0.1.13"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_modern_colorthief"
crate-type = ["cdylib"]
path = "src/rust/lib.rs"

[dependencies]
pyo3 = "0.28.2"
color-thief = "0.2"
image = "0.25.9"
itertools = "0.14.0"

[profile.release.package."*"]
codegen-units = 1
opt-level = 's'
strip = true

[profile.release]
panic = "abort"
codegen-units = 1
lto = "fat"
opt-level = 's'
strip = true
