[package]
name = "modern_colorthief"
version = "0.1.5"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "modern_colorthief"
crate-type = ["cdylib"]
path = "src/rust/lib.rs"

[dependencies]
pyo3 = "0.21.2"
color-thief = "0.2"
image = "0.25.1"

[profile.release.package."*"]
codegen-units = 1
opt-level ='s'
strip = true

[profile.release]
panic = "abort"
codegen-units = 1
lto = "fat"
opt-level ='s'
strip = true
